@font-face {
    font-family: 'MyFont';
    src: url('SourceSerifPro-Regular.otf');
  }
*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-image: url("images/bg.jpg");
    font-family: cursive;
    min-height: 100vh; /* Added to ensure the body takes up the full height of the viewport */
    display: flex;
    flex-direction: column; /* Added to make the footer stick to the bottom */
}
nav{
    /* background: #A0DBF1; */
    height: 70px;
    width: 100%;
}
.logo{
    color: #4219F9;
    font-size: 40px;
    line-height: 70px;
    padding: 0 150px; /*right left*/
    /*font-weight: bold;*/
    font-family: cursive;
}
nav ul{
    float: right;
    margin-right: 150px;
}
nav ul li{
    display: inline-block;
    line-height: 70px;
    margin: 0 50px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
}
a:active{
    color: #000000;
}
a:hover{
    color: #000000;
}
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }
  
  .home-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .home .hometext {
    text-align: left;
    margin-right: 20px;
    color: beige;
  }
  
  .home img {
    border-radius: 50%;
    border: 5px;
    max-width: 100%;
    height: auto;
  }
  
  .aboutme {
    text-align: center;
    font-size: larger;
    color: #f5f5f5;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
  }
footer {
    margin-top: auto; /* Added to push the footer to the bottom */
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer {
    padding: 10px;
    text-align: center;
    color: beige;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
@media screen and (max-width: 768px) {
    /* Styles for smaller screens */
    footer {
      position: relative;
      margin-top: 20px;
    }
  }
  
  @media screen and (min-width: 768px) {
    /* Styles for larger screens */
    footer {
      position: fixed;
      bottom: 0;
    }
  }